.form {
    display: grid;
    gap: space(3);
    max-width: 600px;

    input,
    textarea {
        width: 100%;
        padding: space(2) space(3);
        border: 1px solid var(--color-dark);

        &::placeholder {
            color: var(--color-dark);
            opacity: 0.5;
        }
    }

    textarea {
        resize: none;
        min-height: 200px;
    }
}

@include up(768) {
    .form {
        gap: space(5);
    }
}
